groq
yt-dlp
python-dotenv
youtube-transcript-api
pytubefix
pydub
audioop-lts
markdown
xhtml2pdf
aiohttp
weasyprint
fastapi
uvicorn
python-multipart
supabase
pydantic-settings
sqlalchemy
aiosqlite
requests