groq
yt-dlp
python-dotenv
youtube-transcript-api
pytubefix
pydub
audioop-lts
markdown
aiohttp
fastapi
uvicorn
python-multipart
supabase
pydantic-settings
sqlalchemy
aiosqlite
requests
fpdf2
cryptography